/* Custom scrollbar for tabs row in LocationServices */
.tabs-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #1e293b; /* thumb, track */
}
.tabs-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.tabs-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 8px;
}
.tabs-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 8px;
}
