@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292732;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292732;
    --foreground: #ededed;
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Ensure no default margin */
  padding: 0; /* Ensure no default padding */
  height: 100vh; /* Ensure body covers full viewport height */
  width: 100vw; /* Ensure body covers full viewport width */
}

@layer base {
  h3 {
    @apply text-lg md:text-xl font-semibold my-6;
  }
  h4 {
    @apply text-medium md:text-lg font-semibold my-6;
  }
  p {
    @apply text-sm md:text-base;
  }
}